/* set the page's box-size */
* {
    box-sizing: border-box;
}

body{
    background-color: #F7F1F0;
    background-image: url('../img/bg1.png');
}


.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

nav a:hover{
    border-bottom: 0.5rem solid #7f1d33;
    transition: ease-out .25s;
}

nav img {
    width: 150px;
    padding-bottom: 1.5rem;
  }

nav ul li{
    padding-top: 3rem;
}

main div img{
    float: right;
    width: 675px;
    height: 500px;
    padding-top: 4rem;
}

main div p:last-child{
    font-weight: bold;
}

main div p{
    font-size: xx-large;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}