/* set the page's box-size */
* {
  box-sizing: border-box;
}

body {
  background-color: #F7F1F0;
  background-image: url('../img/bg1.png');
}

.cloth h1 {
  font-size: 90%;
}

.cloth h2 {
  font-size: 15px;
}

nav li:hover {
  border-bottom: 0.5rem solid #7f1d33;
  transition: ease-out .25s;
}

#menu {
  display: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

header {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttom_home {
  border-radius: 20px;
  background: #fefcfc;
  padding: 30px;
  width: 200px;
  height: 400px;
  margin-left: 70px;
  font-weight: bold;
  font-size: 1.8rem;
}

.container-fluid .navbar {
  max-width: 992px;
}


/* this is the generator_page css */
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Container .generator {
  background-color: #C3A6A0;
  border-radius: 20px;
  height: 450px;
}

.generator label {
  display: inline-block;
  justify-content: center;
  margin-bottom: 10px;
}

#choice .button, #BUDGET_input {
  display: inline;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  border-color: black;
}

#choice:nth-last-of-type(1) {
  margin-top: 10px;
}

.generator {
  border-radius: 30px;
  margin: 10px 30px 10px 10px;
  padding: 20px 20px;
  border-color: black;
}

.output .Generator {
  background-color: #F7F1F0;
  line-height: 2.5;
  font-size: 1rem;
  border-radius: 10px;
}


nav a:hover {
  border-bottom: 0.5rem solid #7f1d33;
  transition: ease-out .25s;
}

.Container .generated-cloth {
  margin-left: 50px;
}

.subpage-title {
  text-align: center;
  margin: 80px auto;
  position: relative;
  line-height: 140px;
  color: #787878;
}

.cloth {
  flex-grow: 1;
}

.cloth img {
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.save-to-closet {
  width: 170px;
  height: 50px;
  left: 841px;
  top: 739px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 7px 20px rgba(121, 188, 207, 0.4);
  border-radius: 50px;
  margin-bottom: 60px;
}

.save-to-closet:hover {
  background-color: #787878;
}

.output .Generator:hover {
  background-color: #787878;
}

@media (min-width:598px) {
  body {
    background-image: none;
  }

  #home,#generator,#new,#about {
    display: none;
  }

  #menu {
    display: flex;
    height: 240px;
    width: 200px;
  }

  #logo {
    width: 320px;
    padding-bottom: 0.5rem;
    margin-left: 50px;
    display: flex;
    height: 200px;
  }

  #account {
    display: flex;
    height: 200px;
    width: 180px;
  }

  #menu:hover {
    border-bottom: 0.5rem solid #7f1d33;
    transition: ease-out .25s;
  }
  .container-text {
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 50px;
    height: auto;
    margin-left: 16rem;
  }

  #buttom_home {
    border-radius: 20px;
    background: #fefcfc;
    padding: 30px;
    width: 200px;
    height: 400px;
    margin-bottom: 20px;
    margin-left: 70px;
    font-weight: bold;
    font-size: 1.8rem;
  }

  #buttom-home,
  .container-text {
    margin-bottom: 60px;
  }

  .Container {
    flex-wrap: nowrap;
  }

  .Container .generated-cloth {
    display: flex;
  }

  .subpage-title {
    width: 500px;
  }

  .Container .generator {
    margin-left: 90px;
    margin-bottom: 90px;
  }

  .cloth img {
    height: 40%;
  }

  .cloth p {
    margin-bottom: 10px;
  }

  .cloth .second {
    margin-top: 26px;
  }


}

@media (min-width:992px) {
  #account {
    width: 95px;
    height: 80px;
  }

  #menu {
    display: none;
  }

  #logo {
    width: 250px;
    padding-bottom: 1.5rem;
  }

  #home,
  #generator,
  #new,
  #about {
    display: block;
  }

  nav ul li {
    text-align: center;
    padding-top: 0.2rem;
    margin: 6px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  }

  #buttom_home {
    margin-left: -120px;
  }

  main div img {
    width: 750px;
    height: 580px;
    margin-left: 50%;
    display: block;
  }

  main div p:last-child {
    font-weight: bold;
  }

  .container-text {
    font-size: 3.5rem;
    margin-top: -550px;
    height: auto;
    margin-left: 50px;
  }

  footer {
    margin-top: 350px;
  }

  .Container {
    display: flex;
    flex-grow: 1;
    margin: 5% 20% 10px 10px;
  }

  .Container .generated-cloth {
    flex-basis: 60%;
    display: flex;
  }

  .cloth {
    flex-grow: 1;
  }

  .cloth .second {
    margin-top: 25px;
  }

}

@media (min-width:1440px) {
  .cloth .second {
    margin-top: 10px;
  }
  
}